* {
	text-align: center;
}

body {
	background: skyblue;
}

@media (max-width: 1024px)
 {
 	h1 {
 		font-size: 65px;
 	}

 	h2 {
 		font-size: 55px;
 	}
 	h3{
 		font-size: 35px;
 	}
 	img {
	width: 300px;
	height: 300px;

	}
} 	

/*tablets*/
@media (max-width: 769px)
 {
 	h1 {
 		font-size: 40px;
 	}

 	h2 {
 		font-size: 45px;
 	}
 	h3 {
 		font-size: 30px;
 	}

 	h4 {
 		font-size: 25px;
 	}
 	img {
	width: 200px;
	height: 200px;

	}
	
}
/*smartphones*/
@media (max-width: 375px)
 {
 	h1 {
 		font-size: 25px;
 		padding-bottom: 20px;
 	}

 	h2 {
 		font-size: 20px;
 		padding-bottom: 20px;
 	}
 	h3 {
 		font-size: 15px;
 		padding-bottom: 20px;
 	}

 	img {
 		width: 100px;
 		height: 100px;
 	}

} 	

@media (max-width: 280px)
 {
 	h2 {
 		font-size: 25px;
 		padding-bottom: 20px;
 	}

 	h3 {
 		font-size: 20px;
 		padding-bottom: 20px;
 	}
 	h4 {
 		font-size: 15px;
 		padding-bottom: 20px;
 	}

 	img {
 		width: 100px;
 		height: 100px;
 	}
 	h1 {
 		font-size: 30px;
 	}

} 	